<div id="page-content-index">
    <h2 class="text-center" id="h2">Listing all articles</h2>
    <div class="container">
        <% @articles.each do |article| %>
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-3 rounded" style="background-color:rgba(236, 243, 252, 0.8)">
                    <div class="card-header font-italic" id="card-header">
                        by <%= article.user.username%>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= link_to article.title, article_path(article), class:"text-success"%>
                        </h5>
                        <p class="card-text"><%=truncate(article.description, length: 100)%></p>
                        <%=link_to 'View', article_path(article), class: "btn btn-outline-success"%>
                        <%=link_to 'Edit', edit_article_path(article), class: "btn btn-outline-info"%>
                        <%=link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"%>
                    </div>
                    <div class="card-footer text-muted" id="card-footer">
                        <small>Created <%= time_ago_in_words(article.created_at) %> ago -
                            Edited <%= time_ago_in_words(article.updated_at) %> ago
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
    </div>
</div>

<footer id="sticky-footer" class="bg-dark text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path%></li>
            <li class="breadcrumb-item active" aria-current="page">Articles</li>
        </ol>
    </nav>
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to 'Luis Holzer' %></small>
    </div>
</footer>