<div id="page-content">
    <h2 class="text-center" id="h2">Create a new article</h2>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card text-center shadow mb-3" style="background-color:rgba(236, 243, 252, 0.8)"
                    id="article-card">
                    <div class=" card-header font-italic" id="card-header-new">
                    </div>
                    <div class="card-body-new">
                        <%= render 'form'%>
                    </div>
                    <div class="card-footer text-muted" id="card-footer-new">
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3">
                    <%=link_to '[ Cancel and return to articles listing ]', articles_path, class: "btn btn-warning"%>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="bg-dark text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path%></li>
            <li class="breadcrumb-item"><%= link_to "Articles", articles_path%></li>
            <li class="breadcrumb-item active" aria-current="page">Create Article</li>
        </ol>
    </nav>
    <%= render 'layouts/copyright' %>
</footer>