<h1 class="text-center mt-2">Showing article details</h1>
<div id="page-content-show">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-3 rounded" style="background-color:rgba(236, 243, 252, 0.8)">
                <div class="card-header font-italic" id="card-header">
                    by Luis Holzer
                </div>
                <div class="card-body mb-3">
                    <h5 class="card-title">
                        <%= @article.title%>
                    </h5>
                    <p><%=@article.description%></p>
                </div>
                <div class="mb-3">
                    <%=link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info"%>
                    <%=link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"%>
                </div>
                <div class="card-footer text-muted" id="card-footer">
                    <small>Created <%= time_ago_in_words(@article.created_at) %> ago -
                        Edited <%= time_ago_in_words(@article.updated_at) %> ago
                    </small>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <%=link_to '[ Cancel and return to articles listing ]', articles_path, class: "btn btn-outline-success mb-3"%>
            </div>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="bg-dark text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path%></li>
            <li class="breadcrumb-item"><%= link_to "Articles", articles_path%></li>
            <li class="breadcrumb-item active" aria-current="page">Show Article</li>
        </ol>
    </nav>
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to 'Luis Holzer' %></small>
    </div>
</footer>