<div id="page-content-edit_u">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8 mb-3">
                <div class="card shadow mb-3 rounded border-primary" style="background-color:rgba(236, 243, 252, 0.8);">
                    <div class="card-header" id="card-header-profile">
                        <h2 class="text-center" id="h2"> <%= @user.username%>'s profile</h2>
                    </div>
                    <div class="card-img-top-left m-4"><%= gravatar_for @user, size: 100%></div>
                    <div class="card-body">
                        <h5 class="card-title">Your profile info</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <%= render 'articles/article' %>
        </div>
        <div class="row justify-content-md-center">
            <%=link_to '[ Cancel and return to Homepage ]', root_path, class: "btn btn-warning mt-2 mb-2"%>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="bg-dark text-white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path%></li>
            <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
        </ol>
    </nav>
    <%= render 'layouts/copyright' %>
</footer>